/***************
MAIN
***************/
body {
    font-family: 'Play', sans-serif;
}


/***************************************************************
NavBar
****************************************************************/
.nav-wrapper {
    background-color: #2b477d ;
}

.fa-bars {
  padding-left: 20px;
}

.logoHeader {
  height: 70px;
  width: 95px;
}

/***************************************************************
Parallex Section
****************************************************************/
.parallax-bg3 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.bg3-1 {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    width: 100%;
}

.parallaxHeader {
    color: #CC0000;
    text-shadow: 3px 3px 0px #000;
    font-family: 'Russo One', sans-serif;
}

.heightPar {
      height: 700px;
}

#projectsContainer {
  height: 400px;
}

.parallex-height {
  height: 480px;
}
.parallex-height1 {
  height: 550px;
}
.parallax-title-right {
    color: #000000;
    text-shadow: 2px 2px 0px #FFFFFF;
    margin-left: 650px;
    margin-top: 100px;
    text-decoration: underline;
}
.parallax-title-left {
    color: #000000;
    text-shadow: 2px 2px 0px #FFFFFF;
    margin-left: 50px;
    margin-top: 100px;
    text-decoration: underline;
}


/***************************************************************
Main Headers
****************************************************************/
.headerBtn {
    width: 100%;
    background-color: #000000;
}

.headerBtn:hover {
    background-color: #000000;
}




/***************************************************************
Modal
****************************************************************/
.modal {
    background-color: #FFFFFF;
}

.modal-trigger {
    cursor: pointer;
}

.modal-height {
    height: 500px;
}

.modal-img {
    height: 100%;
    width: 100%;
    padding-top: 15px;
    border-style: solid;
    border-color: #d7d7d7;
    border-width: 1px;
    background-color: #FFFFFF;
}




































/*FLICKITY CAROUSEL*/
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  background: #ED2;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}





/*OTHER*/
/* external css: flickity.css */

* { box-sizing: border-box; }



.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
